{% extends 'default/base.html' %} {% block content %}
</nav>
<div class="container main-container">
    <!-- Example row of columns -->
    <h1>註冊帳號</h1>
    <form>
        <label>請輸入使用者名稱</label>
        <input class="form-control" type="" name="">
        <label>請輸入使用者mail</label>
        <input class="form-control" type="" name="">
        <label>請輸入密碼</label>
        <input class="form-control" type="" name="">
        <hr>
        <button class="btn btn-primary btn-block">提交送出</button>
    </form>
</div>
<!-- /container -->
{% endblock %}